*{
    margin: 0;
    padding: 0;
}

/*HOME PAGE*/
body{
    display: flex;
    flex-direction: column;
}
@font-face {
    font-family: Questrial;
    src: url(fonts/Questrial-Regular.ttf);
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.geral-content{
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.header header{
    display: flex;
    justify-content: flex-end;
}
.header header #logo{
    height: 35px;
    margin-top: 8px;
}
.content-text-and-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-content img{
    height: 300px;
    
}
.buttons-content{
    display: flex;
}
.buttons-content #button-style{
    background-color: rgb(255, 255, 255);
    border-style: none;
    border: solid 2px  rgb(44, 204, 44);
    color:  rgb(44, 204, 44);
    height: 50px;
    width: 300px;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 35px;
    border-radius: 40px;
    cursor: pointer;
    font-family: Questrial;
    font-weight: 100;
   
}
.buttons-content #button-style:hover{
    background-color: rgb(44, 204, 44);
    color: white;
    transition: all 0.5s;
}
.effects-img{
    display: flex;
    flex-direction: column;
}
.big-effect img{
    height: 650px;
    position: relative;
    top: 50px;
    mix-blend-mode: multiply;
}
.small-effect img{
    height: 150px;
    position: relative;
    bottom: 130px;
    left: 20px;
    mix-blend-mode: multiply;
}
/*TIPOS SECTION*/
.container-tipos{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    height: 1000px;
    align-items: center;

}
.content-tipos{
    display: flex;
    flex-wrap: wrap;
}
.text-base h1{
    font-size: 40px;
    font-family: Questrial;
    font-weight: 100;
}
.style-bar{
    height: 4px;
    border-radius: 20px;
    background-color: rgb(73, 182, 73);
    width: 400px;
    margin-top: 5px;
}
.content-tipos{
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}
.content-tipos-reverse{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.text-tipos{
    margin-right: px;
}
.text-content-tipos h1{
    color: rgb(84, 192, 84);
    font-family: Questrial;
    text-align: center;
}
.text-content-tipos p{
    margin-top: 20px;
    width: 400px;
    font-family: Questrial;
    
}
.card-tipo{
    height: 300px;
    width: 400px;
    background-color: green;
    border-radius: 12px;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-tipo img{
    border-radius: 12px;
}
/*IMPACTO SECTION*/
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              





@media only screen and (max-width: 600px) {
    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .geral-content{
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .header header{
        display: flex;
        justify-content: flex-start;
    }
    .header header #logo{
        height: 35px;
        margin-left: 10px;
        margin-top: 8px;
    }
    .content-text-and-button{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .text-content img{
        height: 100px;    
    }
    .buttons-content{
        display: flex;
    }
    .buttons-content #button-style{
        background-color: rgb(255, 255, 255);
        border-style: none;
        border: solid 1px  rgb(44, 204, 44);
        color:  rgb(44, 204, 44);
        height: 30px;
        width: 140px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 20px;
        border-radius: 40px;
        cursor: pointer;
        font-family: Questrial;
        font-weight: 100;
       
    }
    .buttons-content #button-style:hover{
        background-color: rgb(44, 204, 44);
        color: white;
        transition: all 0.5s;
    }
    .effects-img{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .big-effect img{
        height: 300px;
        position: relative;
        top: 30px;
        left: 60px;
        mix-blend-mode: multiply;
    }
    .small-effect img{
        height: 70px;
        position: relative;
        bottom: 101px;
        left: 80px;
        mix-blend-mode: multiply;
    }
  }
  